<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.dao.ProductMapper">
  <resultMap id="BaseResultMap" type="com.mall.entity.Product">
    <id column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type_code" jdbcType="VARCHAR" property="typeCode" />
    <result column="brand_id" jdbcType="INTEGER" property="brandId" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="sub_category_id" jdbcType="INTEGER" property="subCategoryId" />
    <result column="keywords" jdbcType="VARCHAR" property="keywords" />
    <result column="img_id" jdbcType="INTEGER" property="imgId" />
    <result column="published" jdbcType="INTEGER" property="published" />
    <result column="del" jdbcType="BIT" property="del" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="update_user_id" jdbcType="INTEGER" property="updateUserId" />
    <result column="old_product_id" jdbcType="INTEGER" property="oldProductId" />
    <result column="sales_num" jdbcType="INTEGER" property="salesNum" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.mall.entity.Product">
    <result column="introduction" jdbcType="LONGVARCHAR" property="introduction" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    product_id, name, type_code, brand_id, category_id, sub_category_id, keywords, img_id, 
    published, del, create_date, create_user_id, update_date, update_user_id, old_product_id, 
    sales_num
  </sql>
  <sql id="Blob_Column_List">
    introduction
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.mall.entity.ProductExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.mall.entity.ProductExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from product
    where product_id = #{productId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product
    where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mall.entity.ProductExample">
    delete from product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mall.entity.Product">
    insert into product (product_id, name, type_code, 
      brand_id, category_id, sub_category_id, 
      keywords, img_id, published, 
      del, create_date, create_user_id, 
      update_date, update_user_id, old_product_id, 
      sales_num, introduction)
    values (#{productId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{typeCode,jdbcType=VARCHAR}, 
      #{brandId,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, #{subCategoryId,jdbcType=INTEGER}, 
      #{keywords,jdbcType=VARCHAR}, #{imgId,jdbcType=INTEGER}, #{published,jdbcType=INTEGER}, 
      #{del,jdbcType=BIT}, #{createDate,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=INTEGER}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=INTEGER}, #{oldProductId,jdbcType=INTEGER}, 
      #{salesNum,jdbcType=INTEGER}, #{introduction,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.entity.Product">
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="typeCode != null">
        type_code,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="subCategoryId != null">
        sub_category_id,
      </if>
      <if test="keywords != null">
        keywords,
      </if>
      <if test="imgId != null">
        img_id,
      </if>
      <if test="published != null">
        published,
      </if>
      <if test="del != null">
        del,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="oldProductId != null">
        old_product_id,
      </if>
      <if test="salesNum != null">
        sales_num,
      </if>
      <if test="introduction != null">
        introduction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="typeCode != null">
        #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="subCategoryId != null">
        #{subCategoryId,jdbcType=INTEGER},
      </if>
      <if test="keywords != null">
        #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="imgId != null">
        #{imgId,jdbcType=INTEGER},
      </if>
      <if test="published != null">
        #{published,jdbcType=INTEGER},
      </if>
      <if test="del != null">
        #{del,jdbcType=BIT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="oldProductId != null">
        #{oldProductId,jdbcType=INTEGER},
      </if>
      <if test="salesNum != null">
        #{salesNum,jdbcType=INTEGER},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mall.entity.ProductExample" resultType="java.lang.Long">
    select count(*) from product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update product
    <set>
      <if test="record.productId != null">
        product_id = #{record.productId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.typeCode != null">
        type_code = #{record.typeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.brandId != null">
        brand_id = #{record.brandId,jdbcType=INTEGER},
      </if>
      <if test="record.categoryId != null">
        category_id = #{record.categoryId,jdbcType=INTEGER},
      </if>
      <if test="record.subCategoryId != null">
        sub_category_id = #{record.subCategoryId,jdbcType=INTEGER},
      </if>
      <if test="record.keywords != null">
        keywords = #{record.keywords,jdbcType=VARCHAR},
      </if>
      <if test="record.imgId != null">
        img_id = #{record.imgId,jdbcType=INTEGER},
      </if>
      <if test="record.published != null">
        published = #{record.published,jdbcType=INTEGER},
      </if>
      <if test="record.del != null">
        del = #{record.del,jdbcType=BIT},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUserId != null">
        create_user_id = #{record.createUserId,jdbcType=INTEGER},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUserId != null">
        update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      </if>
      <if test="record.oldProductId != null">
        old_product_id = #{record.oldProductId,jdbcType=INTEGER},
      </if>
      <if test="record.salesNum != null">
        sales_num = #{record.salesNum,jdbcType=INTEGER},
      </if>
      <if test="record.introduction != null">
        introduction = #{record.introduction,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update product
    set product_id = #{record.productId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      type_code = #{record.typeCode,jdbcType=VARCHAR},
      brand_id = #{record.brandId,jdbcType=INTEGER},
      category_id = #{record.categoryId,jdbcType=INTEGER},
      sub_category_id = #{record.subCategoryId,jdbcType=INTEGER},
      keywords = #{record.keywords,jdbcType=VARCHAR},
      img_id = #{record.imgId,jdbcType=INTEGER},
      published = #{record.published,jdbcType=INTEGER},
      del = #{record.del,jdbcType=BIT},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      create_user_id = #{record.createUserId,jdbcType=INTEGER},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      old_product_id = #{record.oldProductId,jdbcType=INTEGER},
      sales_num = #{record.salesNum,jdbcType=INTEGER},
      introduction = #{record.introduction,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update product
    set product_id = #{record.productId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      type_code = #{record.typeCode,jdbcType=VARCHAR},
      brand_id = #{record.brandId,jdbcType=INTEGER},
      category_id = #{record.categoryId,jdbcType=INTEGER},
      sub_category_id = #{record.subCategoryId,jdbcType=INTEGER},
      keywords = #{record.keywords,jdbcType=VARCHAR},
      img_id = #{record.imgId,jdbcType=INTEGER},
      published = #{record.published,jdbcType=INTEGER},
      del = #{record.del,jdbcType=BIT},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      create_user_id = #{record.createUserId,jdbcType=INTEGER},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      old_product_id = #{record.oldProductId,jdbcType=INTEGER},
      sales_num = #{record.salesNum,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.entity.Product">
    update product
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="typeCode != null">
        type_code = #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="subCategoryId != null">
        sub_category_id = #{subCategoryId,jdbcType=INTEGER},
      </if>
      <if test="keywords != null">
        keywords = #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="imgId != null">
        img_id = #{imgId,jdbcType=INTEGER},
      </if>
      <if test="published != null">
        published = #{published,jdbcType=INTEGER},
      </if>
      <if test="del != null">
        del = #{del,jdbcType=BIT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="oldProductId != null">
        old_product_id = #{oldProductId,jdbcType=INTEGER},
      </if>
      <if test="salesNum != null">
        sales_num = #{salesNum,jdbcType=INTEGER},
      </if>
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.mall.entity.Product">
    update product
    set name = #{name,jdbcType=VARCHAR},
      type_code = #{typeCode,jdbcType=VARCHAR},
      brand_id = #{brandId,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      sub_category_id = #{subCategoryId,jdbcType=INTEGER},
      keywords = #{keywords,jdbcType=VARCHAR},
      img_id = #{imgId,jdbcType=INTEGER},
      published = #{published,jdbcType=INTEGER},
      del = #{del,jdbcType=BIT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      old_product_id = #{oldProductId,jdbcType=INTEGER},
      sales_num = #{salesNum,jdbcType=INTEGER},
      introduction = #{introduction,jdbcType=LONGVARCHAR}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.entity.Product">
    update product
    set name = #{name,jdbcType=VARCHAR},
      type_code = #{typeCode,jdbcType=VARCHAR},
      brand_id = #{brandId,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      sub_category_id = #{subCategoryId,jdbcType=INTEGER},
      keywords = #{keywords,jdbcType=VARCHAR},
      img_id = #{imgId,jdbcType=INTEGER},
      published = #{published,jdbcType=INTEGER},
      del = #{del,jdbcType=BIT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      old_product_id = #{oldProductId,jdbcType=INTEGER},
      sales_num = #{salesNum,jdbcType=INTEGER}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
</mapper>